
/* BUSKET------ */

.bascket-main-container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  
  .busket-page-title{
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  
    .bascket-child-container{
      width: 50vw;
      height: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .bascket-child-container .price{
      width: 150px;
      height: auto;
    }
  
  
    .bascket-item-image{
     width: 7rem;
     height: 5rem;
     
    }
  
    .busket-img {
    width: 7rem;
    height: 5rem;
    margin-bottom: 5rem;
    
   }
    .basket-item-info{
      width: 100px;
      height: auto;
    }
  
    .btn-main-conatainer{
      width: 7rem;
      height: 3rem;
      border: rgb(177, 160, 160) solid .1rem;
      background-color: rgb(60, 105, 49);
      display: flex;
      justify-content: center;
  
    }
  
    .add , .remove{
      width: 2rem;
      height: 2rem;
      border: black solid .1rem;
      border-radius : .5rem;
      background-color: rgb(52, 156, 26);
      font-size: larger;
      margin: .3rem; 
    }
  
    .order-summery{
      width: 10rem;
      height: 8rem;
      border: .2rem solid black;
      padding: 5rem; 
    }
  
    .row {
      min-width: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .empty-cart{
      color: white;
      display: flex;
      justify-content: center;
    }